# Byte-compiled / virtual env files
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
venv/
env/

# Docker
*.tar
*.log
docker-compose.override.yml

# Terraform
*.tfstate
*.tfstate.*
*.tfplan
.terraform/
crash.log
*.backup
# Ignore secrets
*.tfvars
override.tf
override.tf.json
terraform.tfvars.json
# Keep provider lock file
!.terraform.lock.hcl

# VS Code / IDEs
.vscode/
.idea/
*.swp

# MacOS / Linux
.DS_Store
.ssh/*.pem
